<script>
    document.addEventListener('DOMContentLoaded', function() {
        var notifications = document.querySelectorAll('.notification');
    
        notifications.forEach(function(notification) {
            var progressBar = notification.querySelector('.progress-bar');
            var closeBtn = notification.querySelector('.close');
    
            // Iniciar a animação da barra de progresso
            setTimeout(function() {
                progressBar.style.width = '0%';
            }, 100);  // Pequeno atraso para garantir a transição
    
            // Remover a notificação após 5 segundos
            setTimeout(function() {
                notification.remove();
            }, 5000);
    
            // Fechar a notificação quando o botão de fechar for clicado
            closeBtn.addEventListener('click', function() {
                notification.remove();
            });
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.dropdown-toggle').forEach(function (dropdownToggle) {
            dropdownToggle.addEventListener('click', function (e) {
                const dropdownMenu = e.target.nextElementSibling;
                dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
            });
        });

        // Optional: Close dropdown when clicking outside of it
        document.addEventListener('click', function (e) {
            if (!e.target.matches('.dropdown-toggle')) {
                document.querySelectorAll('.dropdown-menu').forEach(function (dropdownMenu) {
                    dropdownMenu.style.display = 'none';
                });
            }
        });
    });

    {% comment %} 
    colocar imagem dentro do textarea
    {% endcomment %}

    document.addEventListener('DOMContentLoaded', function() {
        const imageUpload = document.getElementById('image-upload');
        const imagePreview = document.getElementById('image-preview');

        imageUpload.addEventListener('change', function() {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();

                reader.onload = function(e) {
                    imagePreview.setAttribute('src', e.target.result);
                    imagePreview.style.display = 'block';
                }

                reader.readAsDataURL(file);
            } else {
                imagePreview.style.display = 'none';
            }
        });
    });


      

</script>


<script>

   
</script>