{% load static %}

<header>
    <div class="header-container">
        {% if request.path == '/'  %}
            <div>
                <h1><i>{{ site_setup.title }}</i></h1>
            </div>
        {% else %}
            <a href="{% url 'blog:index' %}" class="logo" style="text-decoration: none;">
                <div>
                    <h1>{{ site_setup.title }}</h1>
                </div>
            </a>
        {% endif %}
        
        <form action="{% url 'blog:search' %}" method="get" class="search-bar">
            <i class="fa fa-search" id="search-icon"></i>
            <input type="text" placeholder="Search..." name="search">
            <button type="submit" style="display:none;"></button>
        </form>
        <div class="user-profile">
            <div class="profile-pic-container">
                <img src="{{user.avatar.url}}" alt="Foto do perfil" class="profile-pic">
            </div>
        </div>
    </div>
</header>