<div id="inside_cont_in">
    <div class="liked-post">
        <h3>Author with Most Likes</h3>
        {% if insights_dict.most_liked_post %}
            <p>{{ insights_dict.most_liked_post.author  }}</p>
            <p>{{ insights_dict.most_liked_post.like_count }} likes</p>
        {% else %}
            <p>No insights available.</p>
        {% endif %}
    </div>

    <!-- Autor com mais publicações repostadas -->
    <div class="liked-post">
        <h3>Author with Most Reposted Publications</h3>
        {% if insights_dict.most_reposted_post %}
            <p>{{ insights_dict.most_reposted_post.author }}</p>
            <p>{{ insights_dict.most_reposted_post.repost_count }} reposts</p>
        {% else %}
            <p>No insights available.</p>
        {% endif %}
    </div>

    <!-- Autor com mais comentários -->
    <div class="liked-post">
        <h3>Author with Most Comments</h3>
        {% if insights_dict.most_commented_post %}
            <p>{{ insights_dict.most_commented_post.author }}</p>
            <p>{{ insights_dict.most_commented_post.comment_count }} comments</p>
        {% else %}
            <p>No insights available.</p>
        {% endif %}
    </div>
</div>