{% include "blog/partials/messages.html" %}

<div class="post-card" id="post-card-{{post.id}}">
    {% if  "repost_page" not in request.path %}
        {% if post.is_repost %}
            <div class="repost-info">
                <i class="fa-solid fa-rotate"></i> <!-- Ícone indicando repost -->
                <p>Reposted from <strong>{{ post.original_post.author.first_name }}</strong></p>
            </div>
        {% endif %}
    {% endif %}
    <div class="post-header">
        {% if post.is_repost %}
            <div class="post-author">{{ post.original_post.author.first_name }}</div>
        {% else %}
            <div class="post-author">{{ post.author.first_name }}</div>
        {% endif %}
        {% if post.is_repost %}
            <div class="post-date">{{ post.original_post.created_at|date:"d M Y, H:i" }}</div>
        {% else %}
            <div class="post-date">{{ post.created_at|date:"d M Y, H:i" }}</div>
        {% endif %}
        {% if  "repost_page" not in request.path %}
            {% if post.author == user or user.is_superuser%}
                <div class="dropdown">
                    <button class="dropdown-toggle">⋮</button>
                    <div class="dropdown-menu">
                        <a hx-post="{% url "blog:update_post_pre" post.id %}" class="edit-link" hx-target="#post-card-{{ post.id }}">Edit</a>
                        <form hx-post="{% url 'blog:delete_post' post.id %}" hx-target="#my-body-base" method="post" id="delete-link-btn" >
                            {% csrf_token %} <!-- Certifique-se de incluir o token CSRF se estiver usando Django -->
                            <button type="submit" class="delete-link">Delet</button>
                        </form>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% if request.path == '/' %}
    <a href="{{ post.get_absolute_url }}" class="post-link">
        <div class="post-content">
            {{ post.content|safe }}
            {% if post.image %}
                <div class="post-image">
                    <a href="{{ post.image.url }}" target="_blank">
                        <img src="{{ post.image.url }}" alt="Image related to the post">
                    </a>
                </div>
            {% endif %}
        </div>
    </a>
    {% else %}
        <div class="post-content" style="cursor: default;">
            {{ post.content|safe }}
            {% if post.image %}
                <div class="post-image">
                    <a href="{{ post.image.url }}" target="_blank">
                        <img src="{{ post.image.url }}" alt="Image related to the post">
                    </a>
                </div>
            {% endif %}
        </div>
    {% endif %}


    <div class="post-footer">
        <div class="footer-icon">
            <span class="post-likes">
                <a hx-post="{% url 'blog:toggle_like' post.id  %}" hx-target="#like_counting_sp-{{post.id}}" class="post-link" hx-swap="textContent" hx-on:htmx:afterSwap="console.log('afterswapp');">
                    <i class="fa fa-thumbs-up"></i> <span id="like_counting_sp-{{post.id}}" > {{ post.like_count }} </span>
                </a>
                
            </span>
        </div>
        <div class="footer-icon">
            <span class="post-comments" >
                <a href="{{ post.get_absolute_url }}" class="post-link">
                    <i class="fa fa-comment" ></i> {{ post.comments.count }}
                </a>
            </span>
        </div>
        <div class="footer-icon">
            <div class="post-reposts dropdown-rep">
                <div class="dropdown-toggle-rep"> 
                    <i class="fa fa-retweet"></i> {{ post.reposts_count }}
                </div>
                <div class="dropdown-menu-rep">
                    <a hx-post="{% url "blog:repost_directly" post.id %}" class="repost-link" hx-target="#my-body-base">Repost</a>
                    <a href="{% url "blog:repost_page" post.id %}" class="repost-write-link">Write</a>
                </div>

            </div>
        </div>
    </div>
</div>