<div class="post-card" id="post-card-{{post.id}}">
    <div class="post-header">
        {% if post.is_repost %}
            <div class="post-author">{{ post.original_post.author.first_name }}</div>
        {% else %}
            <div class="post-author">{{ post.author.first_name }}</div>
        {% endif %}
        {% if post.is_repost %}
            <div class="post-date">{{ post.original_post.created_at|date:"d M Y, H:i" }}</div>
        {% else %}
            <div class="post-date">{{ post.created_at|date:"d M Y, H:i" }}</div>
        {% endif %}
        
        {% if post.author == user %}
            <div class="dropdown">
                <button class="dropdown-toggle">⋮</button>
                <div class="dropdown-menu">
                    <a href="#" class="edit-link">Edit</a>
                    <a href="#" class="delete-link" onclick="return confirm('Are you sure you want to delete this post?');">Delete</a>
                </div>
            </div>
        {% endif %}
    </div>
    {% if request.path == '/' %}
    <a href="{{ post.get_absolute_url }}" class="post-link">
        <div class="post-content">
            {{ post.content|safe }}
            {% if post.image %}
                <div class="post-image">
                    <a href="{{ post.image.url }}" target="_blank">
                        <img src="{{ post.image.url }}" alt="Image related to the post">
                    </a>
                </div>
            {% endif %}
        </div>
    </a>
    {% else %}
        <div class="post-content" style="cursor: default;">
            {{ post.content|safe }}
            {% if post.image %}
                <div class="post-image">
                    <a href="{{ post.image.url }}" target="_blank">
                        <img src="{{ post.image.url }}" alt="Image related to the post">
                    </a>
                </div>
            {% endif %}
        </div>
    {% endif %}


    <div class="post-footer">
        <div class="footer-icon">
            <span class="post-likes">
                <a hx-post="{% url 'blog:toggle_like' post.id  %}" hx-target="#like_counting_sp-{{post.id}}" class="post-link">
                    <i class="fa fa-thumbs-up"></i> <span id="like_counting_sp-{{post.id}}" > {{ post.like_count }} </span>
                </a>
                
            </span>
        </div>
        <div class="footer-icon">
            <span class="post-comments" >
                <a href="{{ post.get_absolute_url }}" class="post-link">
                    <i class="fa fa-comment" ></i> {{ post.comments.count }}
                </a>
            </span>
        </div>
        <div class="footer-icon">
            <div class="post-reposts dropdown-rep">
                <div class="dropdown-toggle-rep"> 
                    <i class="fa fa-retweet"></i> {{ post.reposts_count }}
                </div>
                <div class="dropdown-menu-rep">
                    <a hx-post="{% url "blog:repost_directly" post.id %}" class="repost-link" hx-target="#my-body-base">Repostar</a>
                    <a href="{% url "blog:repost_page" post.id %}" class="repost-write-link">Escrever</a>
                </div>

            </div>
        </div>
    </div>
</div>