<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% include "blog/partials/_head.html" %}
</head>
<script> 
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.dropdown-toggle').forEach(function (dropdownToggle) {
            dropdownToggle.addEventListener('click', function (e) {
                const dropdownMenu = e.target.nextElementSibling;
                dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
            });
        });

        // Optional: Close dropdown when clicking outside of it
        document.addEventListener('click', function (e) {
            if (!e.target.matches('.dropdown-toggle')) {
                document.querySelectorAll('.dropdown-menu').forEach(function (dropdownMenu) {
                    dropdownMenu.style.display = 'none';
                });
            }
        });
    });
</script>
<body>
    {% include "blog/partials/_header.html" %}
    {% block content %}
    {% endblock content %}
</body>
</html>