{% extends "blog/base.html" %}

{% block content %}
    <div class="post-container">
        <!-- Formulário para criar um novo post -->
        <div class="create-post">
            <div class="input-area">
                <img src="profile-pic.jpg" alt="Profile Picture" class="profile-pic">
                <textarea placeholder="What's on your mind?"></textarea>
            </div>

            <div class="footer">
                <div class="icons-container">
                    <i class="fa fa-image"></i>
                    <i class="fa fa-smile"></i>
                </div>
                <button type="submit">Postar</button>
            </div>
        </div>

        {% for post in posts %}
            {% if post.is_repost %}
            <div class="repost-info">
                <i class="fa-solid fa-rotate"></i> <!-- Ícone indicando repost -->
                <p>Reposted from <strong>{{ post.original_post.author.first_name }}</strong></p>
            </div>
        {% endif %}
            <div class="post-card" >
                    <div class="post-header">
                        {% if post.is_repost %}
                            <div class="post-author">{{ post.original_post.author.first_name }}</div>
                        {% else %}
                            <div class="post-author">{{ post.author.first_name }}</div>
                        {% endif %}
                        {% if post.is_repost %}
                            <div class="post-date">{{ post.original_post.created_at|date:"d M Y, H:i" }}</div>
                        {% else %}
                            <div class="post-date">{{ post.created_at|date:"d M Y, H:i" }}</div>
                        {% endif %}
                        
                        {% if post.author == user %}
                            <div class="dropdown">
                                <button class="dropdown-toggle">⋮</button>
                                <div class="dropdown-menu">
                                    <a href="#" class="edit-link">Edit</a>
                                    <a href="#" class="delete-link" onclick="return confirm('Are you sure you want to delete this post?');">Delete</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                
                    <a href="{{ post.get_absolute_url }}" class="post-link">
                        <div class="post-content">
                            {{ post.content|safe }}
                            {% if post.image %}
                                <div class="post-image">
                                    <a href="{{ post.image.url }}" target="_blank">
                                        <img src="{{ post.image.url }}" alt="Image related to the post">
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </a>
                    <div class="post-footer">
                        <div class="footer-icon">
                            <span class="post-likes">
                                <i class="fa fa-thumbs-up"></i> {{ post.like_count }}
                            </span>
                        </div>
                        <div class="footer-icon">
                            <span class="post-comments">
                                <i class="fa fa-comment"></i> {{ post.comments.count }}
                            </span>
                        </div>
                        <div class="footer-icon">
                            <span class="post-reposts">
                                <i class="fa fa-retweet"></i> {{ post.reposts_count }}
                            </span>
                        </div>
                    </div>
            </div>
            
        {% empty %}
            <p>No posts available.</p>
        {% endfor %}
    </div>
{% endblock %}
