{% extends "blog/base.html" %}

{% block content %}
    <div class="post-container" id="post-open-cont">  
        {% include "blog/partials/messages.html" %}
        <!-- Post Details -->
        
        {% include "blog/partials/_post_card.html" %}

        <!-- Comment Create Section --> 

        <div class="create-post" >
            <form hx-post="{% url 'blog:comment' %}" 
                hx-target="#post-open-cont" 
                hx-swap="outerHTML"
                enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="pid" value="{{ post.id }}">
                <div class="input-area" style="display: flex; align-items: center; margin-bottom: 10px;">
                    <img src="profile-pic.jpg" alt="Profile Picture" class="profile-pic">
                    <textarea class="txt-post" name="content" placeholder="Type your comment here..."></textarea>
                </div>
                
                <div class="footer" style="margin-top: 10px;">
                    <div class="icons-container" style="display: flex; justify-content: space-between;">
                    </div>
                    <button type="submit" style="margin-top: 10px;">Comment</button>
                </div>
            </form>
        </div>

        <!-- Comments Section -->
        <div class="comments-section" >
            <h2>Comments</h2>
            {% if post.comments.count > 0 %}
                {% for comment in post.comments.all %}
                    {% include "blog/partials/_comment_card.html" %}
                {% endfor %}
            {% else %}
                <p>No comments yet 😞</p>
            {% endif %}
        </div>
    </div>
{% endblock %}