{% extends "blog/base.html" %}

{% block content %}
    <div class="post-container" id="post-open-cont">  
        {% include "blog/partials/messages.html" %}
        <!-- Post Details -->
        
        {% include "blog/partials/_post_card.html" %}

        <!-- Comment Create Section --> 

        <div class="create-post" >
            <form hx-post="{% url 'blog:comment' %}" 
                hx-target="#post-open-cont" 
                enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="pid" value="{{ post.id }}">
                <div class="input-area" style="display: flex; align-items: center; margin-bottom: 10px;">
                    <img src="profile-pic.jpg" alt="Profile Picture" class="profile-pic">
                    <textarea class="txt-post" name="content" placeholder="Comece a escrever seu comentário..."></textarea>
                </div>
                
                <div class="footer" style="margin-top: 10px;">
                    <div class="icons-container" style="display: flex; justify-content: space-between;">
                    </div>
                    <button type="submit" style="margin-top: 10px;">Comentar</button>
                </div>
            </form>
        </div>

        <!-- Comments Section -->
        <div class="comments-section">
            <h2>Comentários</h2>
            {% if post.comments.count > 0 %}
                {% for comment in post.comments.all %}
                <div class="comment-container">
                    <div class="comment-header">
                        <div class="comment-author">{{ comment.author.first_name }}</div>
                        <div class="comment-date">{{ comment.created_at|date:"d M Y, H:i" }}</div>
                        {% if comment.author == user %}
                            <div class="dropdown">
                                <button class="dropdown-toggle">⋮</button>
                                <div class="dropdown-menu">
                                    <a href="#" class="edit-link">Edit</a>
                                    <a href="{#" class="delete-link" onclick="return confirm('Are you sure you want to delete this comment?');">Delete</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="comment-content">
                        {{ comment.content|safe }}
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>Nenhum comentário ainda 😞</p>
            {% endif %}
        </div>
    </div>
{% endblock %}