{% extends "blog/base.html" %}

{% block content %}
    <div class="post-container" id="post-open-cont">  
        {% include "blog/partials/messages.html" %}

        <div class="create-post" >
            <form hx-post="{% url 'blog:repost' %}" 
                hx-target="#my-body-base"
                enctype="multipart/form-data"
                hx-swap="outerHTML">
                {% csrf_token %}
                <input type="hidden" name="pid" value="{{ post.id }}">
                <div class="input-area" style="display: flex; align-items: center; margin-bottom: 10px;">
                    {% if user.avatar %}
                        <img src="{{user.avatar.url}}" alt="Profile Picture" class="profile-pic">
                    {% else %}
                        <img src="{% static 'blog/assets/default-avatar.jpg' %}" alt="Profile Picture" class="profile-pic">
                    {% endif %}
                
                    <textarea class="txt-post" name="content" placeholder="Type your message here..."></textarea>
                </div>
            
                {% include "blog/partials/_post_card.html" %}
                
                <div class="footer">
                    <div class="icons-container" style="display: flex; justify-content: space-between;">
                    </div>
                    <button type="submit">Repost</button>
                </div>
            </form>
        </div>


    </div>
{% endblock %}

<div class="create-post" >
    <form hx-post="{% url 'blog:repost' %}" 
        hx-target="#my-body-base"
        enctype="multipart/form-data"
        hx-swap="outerHTML"
        >
        {% csrf_token %}
        <div class="input-area" style="display: flex; align-items: center; margin-bottom: 10px;">
            <input type="hidden" name="pid" value="{{ post.id }}">
            <img src="profile-pic.jpg" alt="Profile Picture" class="profile-pic">
            <textarea class="txt-post" name="content" placeholder="Type your message here..."></textarea>
        </div>
        
        <div class="footer">
            <div class="icons-container" style="display: flex; justify-content: space-between;">
            </div>
            <button type="submit">Post</button>
        </div>
    </form>
</div>