:root {
    --clr-black: 240 10% 4%;
    --clr-white: 0 0% 98%;
    --clr-secondary: 240 3.7% 15.9%;
    --clr-mutted-foreground: 240 5% 64.9%;

}

html {
    font-size: 62.5%;
}

h1 {
    color: hsl(var(--clr-white));
}

body {
    background-color: hsl(var(--clr-black));
    color: hsl(var(--clr-white));
    font-size: 1.6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: hsl(var(--clr-black));
    color: hsl(var(--clr-white));
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 16%;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    position: relative;
}

.logo h1 {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    font-weight: bold;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.search-bar input {
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid hsl(var(--clr-white));
    font-size: 14px;
    width: 500px;
    height: 35px;
    max-width: 100%;
    outline: none;
}

.user-profile {
    display: flex;
    align-items: center;
}

.profile-pic-container {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid hsl(var(--clr-white));
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
