:root {
    --clr-black: 240 10% 4%;
    --clr-white: 0 0% 98%;
    --clr-secondary: 240 3.7% 15.9%;
    --clr-mutted-foreground: 240 5% 64.9%;
    --post-size: 600px;
    --clr_purple: rgb(124, 0, 254);
}

html {
    font-size: 62.5%;
}

h1 {
    color: hsl(var(--clr-white));
}

body {
    background-color: hsl(var(--clr-black));
    color: hsl(var(--clr-white));
    font-size: 1.6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: transparent;
    color: hsl(var(--clr-white));
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 16%;
    position: fixed; /* Torna o header fixo na tela */
    z-index: 1000; /* Coloca o header na frente de outros elementos */
    box-sizing: border-box;
    top: 0;
    width: 100%;
    left: 0;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    position: relative;
}

.logo h1 {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    font-weight: bold;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

.search-bar input {
    border-radius: 15px;
    border: 1px solid hsl(var(--clr-secondary));
    background-color: hsl(var(--clr-secondary));
    padding: 10px 15px 10px 40px; /* O padding-left dá espaço para o ícone */
    color: hsl(var(--clr-white));
    font-size: 14px;
    width: 500px;
    height: 40px;
    max-width: 100%;
    outline: none;
    box-sizing: border-box;
}
.search-bar i {
    position: absolute;
    top: 48%;
    left: 37rem; /* Ajuste a posição para colocar o ícone dentro do input */
    transform: translateY(-50%);
    font-size: 18px;
    color: hsl(0, 0%, 50%);
    pointer-events: none;
}

.search-bar:focus-within i {
    color: var(--clr_purple); /* Azul */
}

.search-bar input:focus {
    border: 1px solid var(--clr_purple);
}

.user-profile {
    display: flex;
    align-items: center;
}

.profile-pic-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px; /* Espaçamento entre a imagem e o campo de texto */
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 80px; /* Ajusta o espaço entre o header e o post */
}
.create-post {
    display: flex;
    flex-direction: column;
    background-color: #1c1c1e; /* Fundo escuro */
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
    max-width: var(--post-size);
    color: #d1d1d1; /* Texto em cinza claro */
}

.create-post .input-area {
    display: flex;
    align-items: center; /* Alinha a imagem e o placeholder horizontalmente */
    margin-bottom: 10px;
}

.create-post img.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px; /* Espaçamento entre a imagem e o campo de texto */
}

.create-post textarea {
    flex: 1;
    background-color: transparent; /* Fundo transparente */
    border: none;
    outline: none;
    color: #d1d1d1; /* Cor do texto */
    font-size: 18px;
    resize: none;
    margin-left: 0; /* Remove o espaçamento à esquerda do campo de texto */
    margin-right: 0; /* Remove o espaçamento à direita do campo de texto */
    margin-top: 15px;

}

.create-post .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.create-post .icons-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.create-post .icons-container i {
    font-size: 20px;
    color: var(--clr_purple); /* Cor dos ícones */
    cursor: pointer;
}

.create-post button[type="submit"] {
    background-color: var(--clr_purple); /* Cor de fundo do botão */
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.create-post button[type="submit"]:hover {
    background-color: var(--clr_purple); /* Cor de fundo ao passar o mouse */
}



.post-card {
    border: 1px solid hsl(var(--clr-secondary));
    border-radius: 5px;
    width: 100%;
    max-width: var(--post-size); /* Define o tamanho fixo do post */
    margin-bottom: 20px;
    padding: 15px;
    background-color: hsl(var(--clr-black));
}

.post-link {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: inherit; /* Garante que o texto dentro do link herde a cor do pai */
}

.post-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(var(--clr-secondary));
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.post-author {
    font-weight: bold;
}

.post-date {
    color: hsl(0, 0%, 50%);
}

.post-content {
    margin-bottom: 10px;
    cursor: pointer; /* Cursor de clique para o conteúdo do post */
}

.post-content-page{
    margin-bottom: 10px;
}

.repost-info {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: hsl(0, 0%, 40%);
    position: relative;
    margin-bottom: 15px;
}

.repost-info i {
    font-size: 18px; /* Tamanho do ícone */
    color: var(--clr_purple); /* Cor do ícone */
    margin-right: 8px; /* Espaçamento entre o ícone e o texto */
}


.post-image {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.post-image img {
    max-width: 100%; /* Ajusta o tamanho da imagem para caber no post */
    height: auto;
    cursor: pointer; /* Cursor de clique para a imagem */
    border-radius: 5px;
}

.post-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    padding: 10px 0;
    border-top: 1px solid hsl(var(--clr-secondary));
}

.footer-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: hsl(0, 0%, 50%);
}

.footer-icon i {
    margin-right: 5px;
    font-size: 1.5rem;
}

.footer-icon:hover {
    color: var(--clr_purple); /* Azul no hover */
}

.cancel-button{
    text-decoration: none;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.cancel-button:hover{
    background-color: hsl(0, 100%, 95%);
    color: hsl(0, 100%, 50%); /* Vermelho */
    border-radius: 5px;
}

.post-edit a {
    background-color: hsl(210, 100%, 40%);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 10px;
}

.post-edit a:hover {
    background-color: hsl(210, 100%, 50%);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;

    color: hsl(var(--clr-white));
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-menu a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a.edit-link:hover {
    background-color: hsl(210, 100%, 95%);
    color: hsl(210, 100%, 50%); /* Azul */
    border-radius: 5px;
}

.dropdown-menu a.delete-link:hover {
    background-color: hsl(0, 100%, 95%);
    color: hsl(0, 100%, 50%); /* Vermelho */
    border-radius: 5px;
}

.dropdown-menu button {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    background: none;
    border: none; 
    cursor: pointer; 
    text-align: left;
    font-size: 1.6rem;
    width: 100%;
    
}

/* Estilos para o botão quando estiver em hover */
.dropdown-menu button.delete-link:hover {
    background-color: hsl(0, 100%, 95%);
    color: hsl(0, 100%, 50%); /* Vermelho */
    border-radius: 5px;
}

.dropdown.clicked .dropdown-menu {
    display: block;
}

.comment-container {
    margin-bottom: 20px;
    padding: 15px;
    width: 500px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(0, 0%, 90%);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.comment-author {
    font-weight: bold;
}

.comment-date {
    color: hsl(0, 0%, 50%);
}
.messages-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

/* Estilo da notificação */
.notification {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    position: relative;
    width: 300px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Ícone de sucesso */
.notification .icon {
    font-size: 18px;
    margin-right: 10px;
    color: #4caf50; /* Cor verde */
}

/* Mensagem de texto */
.notification .message {
    flex: 1;
    font-size: 14px;
}

/* Botão de fechar */
.notification .close {
    background: none;
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    padding-left: 10px;
}

.notification .close:hover {
    color: #999;
}

/* Barra de progresso */
.notification .progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: #4caf50;
    width: 100%;
    transition: width 5s linear;
}

.dropdown-rep {
    position: relative;
    display: inline-block;
}

.dropdown-menu-rep {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    font-size: 1.6rem;
}

.dropdown-menu-rep a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-menu-rep a.repost-link:hover, a.repost-write-link:hover{
    background-color: hsl(210, 100%, 95%);
    color: hsl(210, 100%, 50%); /* Azul */
    border-radius: 5px;
}

.dropdown-rep.clicked .dropdown-menu-rep {
    display: block;
}

.new-post-content {
    padding: 10px;
    margin-bottom: 10px;
}

.old-post-content {
    padding: 10px;
    background-color: transparent; /* Cor de fundo diferente para destacar o post antigo */
    border: 1px solid hsl(var(--clr-secondary)); /* Borda ao redor do conteúdo antigo */
    margin-top: 10px;
}

.swal2-popup {
    font-size: 14px !important;
}

.swal2-styled {
    padding: 10px 32px 10px 32px !important;
    margin: 20px 10px 0px 10px !important;
    width: 170px;
    height: 45px;
}

.most-liked-posts-container {
    position: absolute;
    top: 60px; /* Ajuste conforme necessário */
    right: 15%;
    width: 300px; /* Define uma largura fixa */
    padding: 10px;
    background-color: #1b1b1b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: hsl(var(--clr-white));
}

.liked-post {
    background-color: #2c2c2c;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

